<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<main class="site_Container">
    <div style="font-size:2rem;margin-left:15%;font-weight: bolder;
color: rgb(193, 58, 58);">~I JUST graduated June 2025! Website is being updated! Be patient~</div>
    <div class="main_Container">
        Welcome to the skills page
    </div>
</main>