@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@* Header with My picture and Title *@
<div id="HeaderPicAndTitle" >
    <div>
        <img src="/Images/RedSuitCropped.png" style="border-radius: 8%;float:left; width:16%;" />
    </div>

    <div style="background-color: red; margin-left: 20%; margin-right: 10%; padding-bottom: 7.7%;" >
        <p>
            Full Stack Developer
        </p>
        <p>
            Enter description here
        </p>
    </div>
</div>

