@{
    @* Using ViewData will allow me to change the section title text in one central place *@
    ViewData["Section-1"] = "About";
    ViewData["Section-2"] = "SQL Work";
    ViewData["Section-3"] = "Projects";
    ViewData["Section-4"] = "Contact";
}

@*"dotnet watch run" and "npx tailwindcss -i ./wwwroot/css/site.css -o ./wwwroot/css/output.css --watch"*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./site.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="~/js/site.js"></script>
    <title>Home Page - TrevonPortfolioSite</title>
</head>

<body>
    @* Header with My picture and Title *@
    @* Best practice is Kebab-case for HTML *@
    <div id="Landing-page" class="Page">

        <div class="Introduction Page">
            <h1>
                Hello, <span class="Introduction-My-Name">I'm Trevon.</span>
                <br>I'm a Full Stack Web Developer.
            </h1>

            <button class="Selection-Box">
                View my work below
            </button>
        </div>

        <div id="About-page" class="About-Page Page">@Html.Partial("About")</div>

        <div id="Sql-page" class="Sql-Page Page">@Html.Partial("SqlWork")</div>

        <div id="Projects-page" class="Projects-Page Page">@Html.Partial("Projects")</div>

        <div id="Contact-page" class="Contact-Page Page">@Html.Partial("Contact")</div>

    </div>

    @*
    Profile image of myself in red suit
    <img src="/Images/RedSuitCropped.png" style="border-radius: 8%;float:left; width:16%;" />
    *@
</body>

<footer>

</footer>


</html>
