@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  font-size: 17px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Arial';
}

.Page {
  height: 100vh;
}

.Introduction {
  margin: auto;
  margin-top: 35vh;
  text-align: center;
}

.Introduction-My-Name {
  color: darkred;
}

.Selection-Box {
  border: 3px solid black;
  margin: auto;
  margin-top: 10px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.Page-Header {
  font-size: 35px;
  position: relative;
  display: inline-block;
}

.Page-Header::after {
  content: "";
  position: absolute;
  left: 30.5%;
  bottom: -7px;
  width: 80%;
  height: 30px;
  background-color: rgb(184, 21, 21);
}