<link rel="stylesheet" href="/css/homepage.css" />
<script src="~/js/HomePage.js" defer></script>

<main class="site_Container">

    <div class="main_Container">

        <div class="myImageContainer">
            <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/ECPIGradPic_Trevon.jpg" alt="My Image" />
            <div class="aboutMe">
                <h1>Hello! I'm Tre'von </h1>
                <p>I'm a backend-focused Full Stack Developer with experience in maintaining and evolving legacy systems, contributing to highly stable enterprise applications, and collaborating across cross-functional teams. I specialize in .NET and SQL Server development and have recently expanded into CI/CD, cloud technologies, and API design. My passion lies in building robust backend systems, improving code quality through automation, and applying modern software practices to real-world systems.
                </p>
            </div>
        </div>

        <div class="myGifContainer">
            <div class="gifWrapper">
                <img src="@Url.Content("~/images/CodeWorks.gif")" alt="Computer man">
                <div class="overlayText">I've gone beyond simple, working code. Is the code clean? Is it secure? How maintainable is it?</div>
            </div>       
            <div class="gifWrapper">
                <img src="@Url.Content("~/images/Homer.gif")" alt="Computer man">
                <div class="overlayText">I'm capable of ensuring the user experience is seamless and hastle free, yet still unique and enjoyable </div>
            </div>  
            <div class="gifWrapper">
                <img src="@Url.Content("~/images/ProductionFix.gif")" alt="Computer man">
                <div class="overlayText">Despite best efforts - things break. Having a plan along with the knowledge to correct these failures is a skill I'm proud to have</div>
            </div>     
        </div>

    </div>
</main>