<link rel="stylesheet" href="/css/homepage.css" />
<script src="~/js/HomePage.js" defer></script>

<main class="site_Container">

    <div class="main_Container">

        <div class="myImageContainer">
            <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/ECPIGradPic_Trevon.jpg" alt="My Image" />
            <div class="aboutMe">
                <h1>Hello! I'm Tre'von </h1>
                <p>I'm a backend-focused Full Stack Developer with experience in maintaining and evolving legacy systems, contributing to highly stable enterprise applications, and collaborating across cross-functional teams. I specialize in .NET and SQL Server development and have recently expanded into CI/CD, cloud technologies, and API design. My passion lies in building robust backend systems, improving code quality through automation, and applying modern software practices to real-world systems.
                </p>
            </div>
        </div>

        <div class="myGifContainer">
            <div>
                <p>How I feel when my code works. I feel absolutely awesome. It is a great feeling.</p>
                <img src="@Url.Content("~/images/CodeWorks.gif")" alt="Computer man">
            </div>       
            <div>
                <p>This is Homer Simpon from the simpsons shows. What a funny show</p>
                <img src="@Url.Content("~/images/Homer.gif")" alt="Computer man">
            </div>  
            <div>
                <p>Trains trains trains. They just go and go and dont stop that easily.</p>
                <img src="@Url.Content("~/images/ProductionFix.gif")" alt="Computer man">
            </div>     
        </div>

    </div>
</main>