<link rel="stylesheet" href="/css/homepage.css" />

<main class="site_Container">
    <div class="main_Container">
        <div class="myImageContainer">
            <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/ECPIGradPic_Trevon.jpg" alt="My Image" />
            
            <div class="aboutMe">
                <h1>Hello! I'm Tre'von </h1>
                <p>I'm a Full Stack Developer who builds reliable, scalable web applications using technologies like .NET, SQL Server, and Microsoft Azure. I enjoy solving real-world problems through clean code, thoughtful architecture, and cloud-first design. Whether it's developing secure APIs, optimizing data flow, or deploying to the cloud, I'm focused on delivering production-ready solutions that make an impact. </p>
            </div>
            
        </div>
        <div class="remainingBodyContainer"></div>
    </div>
</main>