@page
@model TreDotNetApp2.Views.Projects.ProjectsIndex
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/css/layout.css" />
</head>

@* Return Resume ViewPage to user *@

<main class="site_Container">
    <div class="main_Container">
    <div style="font-size:2rem;margin-left:15%;font-weight: bolder;
color: rgb(193, 58, 58);">~I JUST graduated June 2025! Website is being updated! Be patient~</div>
        <div>
            <h2>Developer Projects</h2>
            <ul>
                <li>.NET projects</li>
                <p>Link here</p>
            </ul>
        </div>

        <div>
            <h2>Photography Projects</h2>
            <ul>
                <li>2025 Emmanuels Children Learning Center graduation</li>
                <p>I had the priviledge of taking photos and video of the graduation ceremony for these wonderful scholars! Check them out: <a href="https://www.dropbox.com/scl/fo/wmzr0w9fqhc4ymq83a0bi/AHgib6mDS0bUKsAemomu_E8?rlkey=b9t14z7ha95dgllhxstym6jm6&st=8w38dczd&dl=0" target="_blank">Here!</a></p>
                <div class="scroll-container">
                    <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/01.png" alt="" width="600" height="400">
                    <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/05.png" alt="" width="600" height="400">
                    <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/06.png" alt="" width="600" height="400">
                    <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/09.png" alt="" width="600" height="400">
                    <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/20.png" alt="" width="600" height="400">
                    <img src="https://trevondotnetappstorage.blob.core.windows.net/images-self/23.png" alt="" width="600" height="400">
                </div>
            </ul>
        </div>
    </div>
</main>