@page
@model TreDotNetApp2.Views.Projects.ProjectsIndex
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/css/layout.css" />
</head>

@* Return Resume ViewPage to user *@

<main class="site_Container">
    <div class="main_Container">
        This will be your PROJECTS page. Let's try and add a different one here on a quarterly basis shall we?
    </div>
</main>