.myImageContainer {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.myImageContainer img {
    height: auto;
    max-width: 300px;
    min-width: 100px;
    max-height: 150vh;
    float: left;
    margin-right: 2rem;
    /* border: 10px solid #272822; */
    border-radius: 25px;
}

.aboutMe {
    padding: 1rem;
}

.aboutMe h1 {
    /* scales between 1.5rem and 2.5rem */
    font-size: clamp(1.5rem, 2.5vw, 2.5rem); 
    margin-bottom: 0.5rem;
    font-family: Ayuthaya;
}

.aboutMe p {
    /* scales between 1rem and 1.25rem */
    line-height: 1.6;
    font-family: Ayuthaya;
}

/* Handling Text on mobile, smaller screens */
@media (max-width: 768px) {
    .myImageContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .myImageContainer img {
        margin-right: 0;
    }
}

.remainingBodyContainer {
    display: flex;
    /* margin-top: 5%; */
}

._Badge {
    /* width: 160px; */
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: Ayuthaya;
    font-size: clamp(1rem, 1.8vw, 1.25rem);
}
._Badge .title {
    font-size: 1.65rem;
    font-weight: bold;
    text-shadow: 4px 3px black;
    margin-top: 8px;
}
._Badge .description {
    font-size: 0.95rem;
    font-weight: 400;
    margin-top: 4px;
}
._Badge .image {
    width: 100%;
    padding-top: 10px;
    height: auto;
    max-height: 130px;
    object-fit: contain;
    display: block;
    margin: 0 auto 8px auto;
}

._BadgeSmall {
    background-color: color(srgb 0.2191 0.2903 0.4401); 
    width:25vw; 
    border-radius:15px; 
    padding:10px; 
    color:white; 
    overflow:hidden; 
    text-align: center;
}

.notificationContainer {
    background-color: color(srgb 0.9524 0.7781 0);
    font-weight: 600;
    padding: 1% 5% 5px 5%;
    animation: notify 20s ease-in-out infinite alternate;
    position: relative;
    max-width: fit-content;
    border-radius: 10px;
}

@keyframes notify {
    0% {
        transform: translateX(0%);
      }
    100% {
        transform: translateX(calc(100vw - 100%));
      }
}